body {
    margin: 0 15px;
}

.navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-text-color {
    color: #333;
}