{% extends "base.html" %}

{% block content %}
<div class="container-fluid p-4 d-flex rounded shadow">
    <div class="w-50 pe-4">
        <h2 class="mb-4">Form</h2>
        <form class="row g-3">
            <div class="col-12 form-check">
                <input type="checkbox" class="form-check-input" id="is_tv_subscriber" name="is_tv_subscriber">
                <label class="form-check-label" for="is_tv_subscriber">Is TV subscriber:</label>
            </div>
            <div class="col-12 form-check">
                <input type="checkbox" class="form-check-input" id="is_movie_package_subscriber" name="is_movie_package_subscriber">
                <label class="form-check-label" for="is_movie_package_subscriber">Is movie package subscriber:</label>
            </div>
            <div class="col-12 d-flex align-items-center">
                <label for="subscription_age" class="form-label w-25">Subscribtion age:</label>
                <input type="number" class="form-control w-25 me-3" id="subscription_age_value" name="subscription_age_value" min="0" max="13" step="0.01" value="8" oninput="this.nextElementSibling.value = this.value">
                <input type="range" class="form-range flex-grow-1" id="subscription_age" name="subscription_age" min="0" max="13" step="0.01" oninput="this.previousElementSibling.value = this.value">
            </div>
            <div class="col-12 d-flex align-items-center">
                <label for="bill_avg" class="form-label w-25">Average bill:</label>
                <input type="number" class="form-control w-25 me-3" id="bill_avg_value" name="bill_avg_value" min="0" max="450" step="0.01" value="20.0" oninput="this.nextElementSibling.value = this.value">
                <input type="range" class="form-range flex-grow-1" id="bill_avg" name="bill_avg" min="0" max="450" step="0.01" oninput="this.previousElementSibling.value = this.value">
            </div>
            <div class="col-12 d-flex align-items-center">
                <label for="reamining_contract" class="form-label w-25">Remaining contract:</label>
                <input type="number" class="form-control w-25 me-3" id="reamining_contract_value" name="reamining_contract_value" min="0" max="3" step="0.01" value="0.5" oninput="this.nextElementSibling.value = this.value">
                <input type="range" class="form-range flex-grow-1" id="reamining_contract" name="reamining_contract" min="0" max="3" step="0.01" oninput="this.previousElementSibling.value = this.value">
            </div>
            <div class="col-12 d-flex align-items-center">
                <label for="service_failure_count" class="form-label w-25">Service failures:</label>
                <input type="number" class="form-control w-25 me-3" id="service_failure_count_value" name="service_failure_count_value" min="0" max="20" step="1" value="0" oninput="this.nextElementSibling.value = this.value">
                <input type="range" class="form-range flex-grow-1" id="service_failure_count" name="service_failure_count" min="0" max="20" step="1" oninput="this.previousElementSibling.value = this.value">
            </div>
            <div class="col-12 d-flex align-items-center">
                <label for="download_avg" class="form-label w-25">Average download:</label>
                <input type="number" class="form-control w-25 me-3" id="download_avg_value" name="download_avg_value" min="0" max="5000" step="0.1" value="50.0" oninput="this.nextElementSibling.value = this.value">
                <input type="range" class="form-range flex-grow-1" id="download_avg" name="download_avg" min="0" max="5000" step="0.1" oninput="this.previousElementSibling.value = this.value">
            </div>
            <div class="col-12 d-flex align-items-center">
                <label for="upload_avg" class="form-label w-25">Average upload:</label>
                <input type="number" class="form-control w-25 me-3" id="upload_avg_value" name="upload_avg_value" min="0" max="500" step="0.1" value="10.0" oninput="this.nextElementSibling.value = this.value">
                <input type="range" class="form-range flex-grow-1" id="upload_avg" name="upload_avg" min="0" max="500" step="0.1" oninput="this.previousElementSibling.value = this.value">
            </div>
            <div class="col-12 d-flex align-items-center">
                <label for="download_over_limit" class="form-label w-25">Download over limit:</label>
                <input type="number" class="form-control w-25 me-3" id="download_over_limit_value" name="download_over_limit_value" min="0" max="10" step="0.1" value="0.0" oninput="this.nextElementSibling.value = this.value">
                <input type="range" class="form-range flex-grow-1" id="download_over_limit" name="download_over_limit" min="0" max="10" step="0.1" oninput="this.previousElementSibling.value = this.value">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Save data</button>
            </div>
        </form>
    </div>

    <div class="w-50 bg-light text-center p-4 rounded">
        <p class="h3 mt-3">Will the customer churn?</p>
        <div id="results" class="row"></div>
    </div>
</div>

<script>
function debounce(func, delay) {
    let timeout;
    return function(...args) {
        clearTimeout(timeout);
        timeout = setTimeout(() => func.apply(this, args), delay);
    };
}

async function predictChurn() {
    const data = {
        is_tv_subscriber: document.getElementById("is_tv_subscriber").checked,
        is_movie_package_subscriber: document.getElementById("is_movie_package_subscriber").checked,
        subscription_age: parseFloat(document.getElementById("subscription_age").value),
        bill_avg: parseFloat(document.getElementById("bill_avg").value),
        remaining_contract: parseFloat(document.getElementById("reamining_contract").value),
        service_failure_count: parseInt(document.getElementById("service_failure_count").value),
        download_avg: parseFloat(document.getElementById("download_avg").value),
        upload_avg: parseFloat(document.getElementById("upload_avg").value),
        download_over_limit: parseFloat(document.getElementById("download_over_limit").value),
    };

    try {
        const response = await fetch("/predict/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });

        const predictions = await response.json();

        const resultsDiv = document.getElementById("results");
        resultsDiv.innerHTML = "";

        for (const [model, probability] of Object.entries(predictions)) {
            const columnDiv = document.createElement("div");
            columnDiv.className = "col-12 mb-3";

            const cardDiv = document.createElement("div");
            cardDiv.className = "card";
            cardDiv.innerHTML = `
                <div class="card-body">
                    <h5 class="card-title">${model}</h5>
                    <p class="card-text">${(probability * 100).toFixed(2)}%</p>
                </div>
            `;
            columnDiv.appendChild(cardDiv);
            resultsDiv.appendChild(columnDiv);
        }
    } catch (error) {
        console.error("Błąd:", error);
    }
}

document.querySelector("form").addEventListener("input", debounce(predictChurn, 300));
document.querySelector("form").addEventListener("submit", function (event) {
    event.preventDefault();
    predictChurn();
});
</script>
{% endblock %}
